ZeroED/
UnIMP-master/
result/
tmp/
docs/

__pycache__/
.vscode/
.claude/
.cursor/
.conda/
.trae/
.DS_Store

*.log
*.pt

cc.en.300.bin
cc.en.300.bin.gz
env.yml
env_cuda12.yml
condaenv.y2o1848c.requirements.txt
condaenv.tzdrm5c5.requirements.txt